@model ThunderPhone.Models.ProductsModel

@{
    ViewData["Title"] = "Item";
}

@section Styles {
    <link rel="stylesheet" href="~/css/shop-item.css" />
}

@section Scripts {
    <script src="~/js/shop-item.js"></script>
}

<input type="hidden" id="Id" value="@Model.Id" />
<input type="hidden" id="ProductId" value="@Model.ProductId" />

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-lg-6">
            <img id="productImage" alt="product" width="500" height="500" />
        </div>
        <div class="col-lg-6">
            <div class="text-left">
                <h1 style="word-break:break-word">@Model.Name</h1>
                <h3 class="price-tag mb-4">@Model.Price Kr,-</h3>
                <article class="item-description mb-5">
                    @Model.Description
                </article>
                <button class="form-control" id="AddToCart">Tilføj til kurv</button>
            </div>
        </div>
    </div>
</div>